version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: niva-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: niva_backend
      MYSQL_USER: niva
      MYSQL_PASSWORD: niva_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
